# version 1.0.0

/* = 通用 Global
----------------------------------------------- */

img, p {
	-webkit-touch-callout: none;
}

p {
	font: 500 15px/1.8 'Optima','Songti SC','Verdana','Microsoft Yahei',simsun,serif;
	cursor: default;
}

.padding-huge {
	padding: 27px;
}

.padding-large {
	padding: 45px;
}

.padding-middle {
	padding: 25px;
}

.no-radius {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;	
}

.sites-section {
	position: relative;
	-webkit-animation: description-in 1s ease-out 0 1 forwards;
}

.apps-panel {
#	background: rgba(255, 255, 255, 0.80);
	background: #e5e5e5 url(/static/img/default/panel_bg.png);
	color: #333;
	padding: 0px;
	margin-bottom: 80px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-shadow: 1px 1px 2px #FFF;
	-webkit-box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05); 
	-moz-box-shadow:    0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
	-ms-box-shadow:     0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);  
	-o-box-shadow:      0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
	box-shadow:         0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
}

a.thumbnail {
	color: #333;
	text-decoration: none;
}
a.thumbnail:hover {
	-webkit-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1),1px 1px 30px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1),1px 1px 30px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1),1px 1px 30px 5px rgba(0, 0, 0, 0.2);
	color: #333;

}
a.thumbnail img {
	-webkit-filter: blur(1px) grayscale(0.8);
	-webkit-transform: translateZ(0);
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
a.thumbnail:hover img {
	-webkit-filter: none;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}
a.thumbnail h3 {
	font: 400 24.5px/1.0 'Optima','Songti SC','Verdana','Microsoft Yahei',simsun,serif;
	-webkit-box-reflect: below -4px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(.4, transparent), to(rgba(3,3,3,.2)));
}
a.thumbnail p {
	font: 100 12px/1.6 'Optima','Songti SC','Verdana','Microsoft Yahei',simsun,serif;
}
a.thumbnail small {
	font-size: 95%;
}

body {
	background: #e5e5e5 url(/static/img/default/bg.png);
	overflow-x: hidden;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

img.profile {
	max-width: 60px;
	margin-top: 5px;
	margin-bottom: 10px;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	transition: 500ms;
	-webkit-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
}
img.profile:hover {
	-webkit-animation: profile-img-hover 1000ms ease-out 100ms infinite forwards;
}
img.profile:active {
	-webkit-animation: profile-img-active 500ms linear 0 infinite forwards;
}

/**** footer*/
.ft-info {
	padding:7px 0;
	margin-bottom: 10px;
}
.ft-info p {
	line-height:20px;
	font: 100 12px/1.6 'Optima','Songti SC','Verdana','Microsoft Yahei',simsun,serif;
}
.ft-info a:link, .ft-info a:visited {
	color:#75839D;
}
.ft-info a:hover, .ft-info a:active {
	color:#ff8400;
	text-decoration:underline;
}

/**** topbar*/
#topbar {
	border-top: 4px solid #0088cc;
}

.nav-btn > li > a {
	margin-top: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

/**** banner*/
#banner {
}

/* = IE 8 以下 IE 8 or below
----------------------------------------------- */

.ie-alert {
	position: fixed;
	top: 50px;
	width: 630px;
	z-index: 9999;	
}

/* = 伪类 Pseudo
----------------------------------------------- */
::-webkit-scrollbar {
	width: 10px;
	background: #cacaca url(/static/img/default/bg.png);;
	opacity: .8;	
	-webkit-transition: .25s;
}
::-webkit-scrollbar-button {
	width: 10px;
	height: 5px;
	-webkit-transition: .25s;
}
::-webkit-scrollbar-track {
	background: #cacaca url(/static/img/default/bg.png);;
	border-radius: 10px;
	-webkit-transition: .25s;
}
::-webkit-scrollbar-thumb {
	background: #969696;
	border-radius: 10px;
	-webkit-transition: .25s;
}
::-webkit-scrollbar-thumb:hover {
	background: #7d7d7d;
	-webkit-transition: .25s;
}

::selection {
    background:#d3d3d3; 
    color:#555;
}

::-moz-selection {
    background:#d3d3d3; 
    color:#555;
}

::-webkit-selection {
    background:#d3d3d3; 
    color:#555;
}