# version 1.0.0

/* = 通用 Global
----------------------------------------------- */
body {
	background: #e5e5e5 url(/static/img/default/mooning.png);
	overflow-x: hidden;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

img.profile {
	max-width: 100px;
	margin-top: 5px;
	margin-bottom: 10px;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	transition: 500ms;
	
	-webkit-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
}

a.thumbnail {
	color: #333;
	text-decoration: none;
}
a.thumbnail:hover {
	-webkit-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1),1px 1px 30px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1),1px 1px 30px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1),1px 1px 30px 5px rgba(0, 0, 0, 0.2);
	color: #333;

}
a.thumbnail img {
	-webkit-filter: blur(1px) grayscale(0.8);
	-webkit-transform: translateZ(0);
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
a.thumbnail:hover img {
	-webkit-filter: none;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}
a.thumbnail h3 {
	font: 400 24.5px/1.0 'Optima','Songti SC','Verdana','Microsoft Yahei',simsun,serif;
	-webkit-box-reflect: below -4px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(.4, transparent), to(rgba(3,3,3,.2)));
}
a.thumbnail p {
	font: 100 12px/1.6 'Optima','Songti SC','Verdana','Microsoft Yahei',simsun,serif;
}
a.thumbnail small {
	font-size: 95%;
}

img, p {
	-webkit-touch-callout: none;
}
p {
	font: 500 15px/1.8 'Optima','Songti SC','Verdana','Microsoft Yahei',simsun,serif;
	cursor: default;
}
.padding-huge {
	padding: 27px;
}
.padding-large {
	padding: 45px;
}
.padding-middle {
	padding: 25px;
}
.no-radius {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;	
}

.sites-section {
	position: relative;
	-webkit-animation: description-in 1s ease-out 0 1 forwards;
}

.apps-panel {
	background: rgba(255, 255, 255, 0.80);
	color: #333;
	padding: 0px;
	margin-bottom: 80px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-shadow: 1px 1px 2px #FFF;
	-webkit-box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05); 
	-moz-box-shadow:    0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
	-ms-box-shadow:     0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);  
	-o-box-shadow:      0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
	box-shadow:         0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
}

.padding-middle {
	padding: 25px;
}

.img-circle {
  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
}

/* = 框架 Panels
----------------------------------------------- */
.panel {
	display: none;
	background: #FFF url(/static/img/default/white_wall_hash.png);
	padding: 0px;
	margin-bottom: 120px;
	color: #333;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-animation: panel-in 1s linear 0 1;
	-webkit-box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, .35), 0px 20px 70px 8px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:    0px 1px 8px 1.5px rgba(0, 0, 0, .35), 0px 20px 70px 8px rgba(0, 0, 0, 0.25);
	-ms-box-shadow:     0px 1px 8px 1.5px rgba(0, 0, 0, .35), 0px 20px 70px 8px rgba(0, 0, 0, 0.25);
	-o-box-shadow:      0px 1px 8px 1.5px rgba(0, 0, 0, .35), 0px 20px 70px 8px rgba(0, 0, 0, 0.25);
	box-shadow:         0px 1px 8px 1.5px rgba(0, 0, 0, .35), 0px 20px 70px 8px rgba(0, 0, 0, 0.25);
}
.panel h1, .panel h3 {
	cursor: default;
	background: -webkit-linear-gradient(top, rgba(70, 70, 70, 1) 0%,rgba(111, 111, 111, 1) 50%,rgba(10, 14, 10, 1) 51%,rgba(10, 8, 9, 1) 100%);
	-webkit-box-reflect: below -7px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(.2, transparent), to(rgba(3,3,3,.1)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}
.panel h3 {
	-webkit-box-reflect: below -17px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(.4, transparent), to(rgba(3,3,3,.2)));
}
.panel h1:hover {
	background: -webkit-linear-gradient(top, rgba(70, 70, 70, 1) 0%,rgba(111, 111, 111, 1) 70%,rgba(10, 14, 10, 1) 71%,rgba(10, 8, 9, 1) 100%);
	-webkit-box-reflect: below -2px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(.4, transparent), to(rgba(3,3,3,.2)));	
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
	-webkit-transform: translateY(-5px);
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}

/**** footer*/
.ft-info {
	background: #F7F7F7;
	padding:7px 0;
	margin-bottom: 10px;
}
.ft-info p {
	line-height:20px;
	font: 100 12px/1.6 'Optima','Songti SC','Verdana','Microsoft Yahei',simsun,serif;
}
.ft-info a:link, .ft-info a:visited {
	color:#75839D;
}
.ft-info a:hover, .ft-info a:active {
	color:#ff8400;
	text-decoration:underline;
}

/* = IE 8 以下 IE 8 or below
----------------------------------------------- */

.ie-alert {
	position: fixed;
	top: 50px;
	width: 630px;
	z-index: 9999;	
}